.header {
    background: rgba(0, 0, 0, 0.5);
    background-size: cover;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 400px;
}
.footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    font-size: 0.9rem;
}
.container h1,p{
    color: black;
}
.box-borda{
    border: 2px solid #fff;
    border-radius: 8px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    color: #000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
body{
    background-image: url(fundo.webp);
    background-size: cover;
    background-position: center;
    font-family: 'Arial', sans-serif;
    color: #333;
}
.header h1{
    font-size: 3rem;
    font-weight: bold;
    color: #2bd87c;
    text-shadow: 2px 1px 2px black;
}
.header p{
    font-size: 1.2rem;
}
.card{
    font-size: 1.5rem;
    font-weight: bold;
}
.card-text{
    font-size: 1rem;
    font-weight: bold;
}
.btn-primary{
    background-color: #2bd87c;
    border: none;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
}
.btn-primary:hover{
    background-color: #1dba66;
}
form{
    background-color: #fff;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
.form-control, .form-select{
    margin-bottom: 15px;
    padding: 12px;
    border-radius: 6px;
    border: 1px solid #ccc;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}
.form-control:focus, .form-select:focus{
    border-color: #2bd87c;
    box-shadow: 0 0 5px rgba(43, 216, 124, 0.5);
    outline: none;
}
.col-md-6 h2{
    text-align: center;
    margin-bottom: 20px;
    border: 1px solid;
    padding: 10px;
    border-radius: 5px;
}
h5{
    text-decoration: underline;
}